<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="QOBDDAL.Properties.Settings.QCBDDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\QCBDDatabase.mdf;Integrated Security=True; Min Pool Size=10; Max Pool Size=100;Connection Timeout=200"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="QOBDWebServiceBinding" maxReceivedMessageSize="2000000000" receiveTimeout="00:10:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic"></transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WebServiceSOAP/server.php"
          binding="basicHttpBinding" bindingConfiguration="QOBDWebServiceBinding"
          contract="QOBDServiceReference.QOBDWebServicePortType" name="QOBDWebServicePort" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="length_prefix" value="6"/>
    <add key="order_prefix" value="ORD310"/>
    <add key="invoice_prefix" value="INV310"/>
    <add key="client_prefix" value="CL4100"/>
    <add key="load_size" value="50"/>
    <add key="progress_step" value="16"/>
    <add key="ftp" value="ftp://192.168.0.12:14147/"/>
  </appSettings>
</configuration>