<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="QCBDDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\QCBDDatabase.mdf;User Id=ava;Password=ava225!;Min Pool Size=50; Max Pool Size=100;Connection Timeout=200"
            providerName="System.Data.SqlClient" />
        <add name="QCBDDatabaseCEConnectionString"
            connectionString="Data Source=|DataDirectory|\QCBDDatabase.sdf"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="QOBDWebServiceBinding" maxReceivedMessageSize="2000000000" receiveTimeout="00:10:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1/WebServiceSOAP/server.php"
          binding="basicHttpBinding" bindingConfiguration="QOBDWebServiceBinding"
          contract="QOBDServiceReference.QOBDWebServicePortType" name="QOBDWebServicePort" />
    </client>
  </system.serviceModel>
  <appSettings>
    
    <!-- Company information -->
    <add key="company_name" value="AVA"/>
    
    <!-- Loading messages -->
    <add key="search" value="Searching..."/>
    <add key="updating" value="Updating..."/>
    <add key="creating" value="Creating..."/>
    <add key="wait" value="Please wait while we are dealing with your request..."/>
    <add key="loading" value="Loading..."/>
    
    <!-- Prefix -->
    <add key="length_prefix" value="6"/>
    <add key="order_prefix" value="ORD310"/>
    <add key="invoice_prefix" value="INV310"/>
    <add key="client_prefix" value="CL4100"/>
    <add key="delivery_prefix" value="DEL310"/>
    <add key="item_prefix" value="CAT310"/>
    
    <!-- Loading -->
    <add key="load_size" value="50"/>
    <add key="progress_step" value="16"/>
    
    <!-- Web service localhost 192.168.0.12-->
    <add key="remote_host" value="http://127.0.0.1/webservicesoap/"/>
    <add key="remote_doc_lib_folder" value="Lib/"/>
    <add key="remote_doc_lib_pdf_folder" value="Lib/fpdf/"/>
    
    <!-- Ftp localhost-->
    <add key="ftp" value="ftp://192.168.0.12:14147/"/>
    <add key="ftp_image_folder" value="Images/"/>
    <add key="ftp_profile_image_folder" value="Images/profile/"/>
    <add key="ftp_catalogue_image_folder" value="Images/catalogue/"/>
    <add key="ftp_doc_base_folder" value="Files/"/>
    <add key="ftp_doc_text_folder" value="Files/texts/"/>
    <add key="ftp_doc_mail_folder" value="Files/mails/"/>
    
    <!-- Local -->    
    <add key="local_image_folder" value="Docs/Images/"/>
    <add key="local_profile_image_folder" value="Docs/Images/Profile/"/>
    <add key="local_catalogue_image_folder" value="Docs/Images/Catalogue/"/>
    <add key="local_doc_base_folder" value="Docs/Files/"/>
    <add key="local_doc_text_folder" value="Docs/Files/Texts/"/>
    <add key="local_doc_mail_folder" value="Docs/Files/Mails/"/>
        
    <!-- Chat -->
    <add key="IP" value="127.0.0.1"/>
    <add key="Port" value="8888"/>

  </appSettings>
</configuration>