<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QCBDDatabaseCEConnectionString"
            connectionString="Data Source=|DataDirectory|\QCBDDatabase.sdf"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>