<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QOBDDAL.Properties.Settings.QCBDDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\QCBDDatabase.mdf;Integrated Security=True; Min Pool Size=10; Max Pool Size=100;Connection Timeout=200"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>