<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QCBDDatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\App_Data\QCBDDatabase.mdf;User Id=ava;Password=ava225!;Min Pool Size=50; Max Pool Size=100;Connection Timeout=200"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>