<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="QOBDWebServiceBinding" maxReceivedMessageSize="2000000000" receiveTimeout="00:10:00">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" proxyCredentialType="Basic"></transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WebServiceSOAP/server.php"
          binding="basicHttpBinding" bindingConfiguration="QOBDWebServiceBinding"
          contract="QOBDServiceReference.QOBDWebServicePortType" name="QOBDWebServicePort" />
    </client>
  </system.serviceModel>
</configuration>